# **Lists in python:**

- A collection of similar or different types of data items.

### Creating a list:
- A list is created by placing items inside [] separated by commas.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

### Features of a list:
- A list can have duplicate items.
- Items in a list are mutable.
- Lists can store items of various types.

## Accessing elements of a list:

### i. Accessing elements of a single-dimensional list:
- A single-dimensional list is a list where elements are listed one after the other.
- Each element is allotted a unique number called index.

In [ ]:
multiples_of_5 = [5, 10, 15, 20]

### ii. Negative Indexing:

In [ ]:
num = [1,2,3,4,5]
num[-1]

5

### iii. Accessing elements of a multi-dimensional list:

In [ ]:
my_list = [[1,2],"eman",[3,4]]
my_list[2][0]

3

### iv. Homework problem:

In [ ]:
my_list_2 = [[1,2,3],[['a','b','c'],5,6]]
my_list_2[1][0][1]

'b'

## Adding elements to a list:

### i. append():
- A built-in method used to add an item at the end of a list.

In [ ]:
languages = ['c', 'cpp', 'java']
languages.append('python')
languages

['c', 'cpp', 'java', 'python']

In [ ]:
cars = ['bentley', 'audi', 'BMW']
cars.append(['civic','alto'])
cars

['bentley', 'audi', 'BMW', ['civic', 'alto']]

### ii. insert():
- A built-in method used to add an item at a specific position.

In [ ]:
vegs = ['eggplant', 'potato', 'tomato', 'okra']
vegs.insert(0,'green_chilli')
vegs

['green_chilli', 'eggplant', 'potato', 'tomato', 'okra']

### iii. extend():
- A built-in method used to add all items of one list in another list.

In [ ]:
accessories = ['hair_bands','clips','ponnies']
accessories_1 = ['shampoo', 'conditioner', 'mask']
accessories.extend(accessories_1)
accessories

['hair_bands', 'clips', 'ponnies', 'shampoo', 'conditioner', 'mask']

### **Input method in python:**

### i. input() method:
- Used to take input from the user.
- User input is always converted to a string.

In [ ]:
name = input()

### ii. input() method with a message:

In [ ]:
name = input("Enter the name: ")

### iii. Typecasting the user input:

In [2]:
# typecasting is needed to convert a string to an integer
# input method can be provided as an argument to the int() method.
num = int(input("Enter the number: "))
num

56

In [ ]:
# alternatively, number can be provided as an argument to the int() method.
int(number)

### iv. Input a list using loops:

In [10]:
num = int(input("Enter the number of elements: "))
number= []
for i in range(num):
    x = int(input())
    number.append(x)
print(number)

[23, 24, 25]

### v. Input a list using split() method in python:

In [15]:
numbers = input("Enter the numbers: ").split()
numbers

['67', '87', '98', '2']

### vi. Basics of for loop:
- for loop is used to repeat a specific code a certain number of times.

In [16]:
for i in range(0,4):
    print("eman")

eman
eman
eman
eman

### vii. Accepting a list using split() and for loop:

In [17]:
n = int(input("Enter the number of elements: "))
numbers = input("Enter the numbers: ").split()
for i in range(0,n):
    numbers[i] = int(numbers[i])
print(numbers)

[56, 67, 98]

### **Changing list items in pythom:**

i. changing an item:

In [19]:
list = ['eman', 'omar', 'abdullah', '1', '5']
list[4] = 'api'
list

['eman', 'omar', 'abdullah', '1', 'api']

ii. changing multiple items:

In [21]:
list_1 = ["car","bike","truck","tractor"]
list_1[2:4] = ["Hina","sania","sana"]
list_1

['car', 'bike', 'Hina', 'sania', 'sana']

iii. Inserting a New Item:

In [24]:
room = ['curtains', 'bed', 'dresser']
room.insert(0,'cupboard')
room

['cupboard', 'curtains', 'bed', 'dresser']

### **Remove list items in python:**

i. Remove an item using the remove() method:
- Removes the specified item.

In [25]:
flowers = ['daisy', 'rose', 'tulip', 'sun_flower']
flowers.remove('daisy')
flowers

['rose', 'tulip', 'sun_flower']

ii. Remove an item using the pop() method:

In [27]:
utensils = ['spoon', 'knife', 'stove']
utensils.pop(2)
utensils

['spoon', 'knife']

iii. Remove an item using the del keyboard:
- Removes an item at the specified index.

In [28]:
shoes = ['wedges', 'lofers', 'gumboots']
del shoes[1]
shoes

['wedges', 'gumboots']

- can remove the list completely:

In [30]:
del shoes
shoes

NameError: name 'shoes' is not defined

iv. Clear the list using the clear() method:
- can empty the list.

In [31]:
bags = ['cross_body', 'stroller']
bags.clear()
bags

[]

### **List comprehension in python:**

- Provides a shorter syntax while creating a new list from the existing list.

In [36]:
names = ['james','john','emma','jimmy','jim','harry']
j_names = []
for name in names:
    if 'j' in name:
        j_names.append(name)

print(j_names)

['james', 'john', 'jimmy', 'jim']

i. Syntax of list comprehension:

In [37]:
j_names = [name for name in names if 'j' in name]
j_names

['james', 'john', 'jimmy', 'jim']

ii. Homework problem:
- Convert the following into a list comprehension:

In [47]:
animals = ['lion', 'tiger', 'monkey', 'elephant', 'frog']
filtered_names = []
for animal in animals:
    filtered_names.append(animal.title())
print(filtered_names)

['Lion', 'Tiger', 'Monkey', 'Elephant', 'Frog']

In [48]:
filtered_names = [animal.title() for animal in animals]
filtered_names

['Lion', 'Tiger', 'Monkey', 'Elephant', 'Frog']

In [50]:
fruits = ['banana', 'apple', 'cherry']
for fruit in fruits:
    print(fruit)

banana
apple
cherry

In [52]:
fruits = ['banana', 'apple', 'cherry']
length = len(fruits)
print(length)

3

In [53]:
fruits = ['banana', 'apple', 'cherry']
fruits.append('orange')
fruits

['banana', 'apple', 'cherry', 'orange']

In [54]:
fruits = ['banana', 'apple', 'cherry']
fruits.insert(0,'orange')
fruits

['orange', 'banana', 'apple', 'cherry']

In [57]:
fruits = ['banana', 'apple', 'cherry']
fruits.remove('apple')
fruits

['banana', 'cherry']

In [ ]:
list = [1,4,3,2]

In [62]:
fruits = ['banana', 'apple', 'cherry']
if 'apple' in fruits:
    print(True)
else:
    print(False)

True

In [63]:
fruits = ['banana', 'apple', 'cherry', 'banana']
count = fruits.count('banana')
print(count)

2

In [64]:
numbers = [1,2,3]
numbers.reverse()
print(numbers)

[3, 2, 1]

In [65]:
numbers = [1,2,3,4,5]
square_numbers = [number ** 2 for number in numbers]
print(square_numbers)

[1, 4, 9, 16, 25]

In [66]:
numbers = [1,2,3,4,5,6,7,8]
even_num = [number % 2 == 0 for number in numbers]
print(even_num)

[False, True, False, True, False, True, False, True]

In [67]:
number = [4,6,2,1,9,3]
number.sort()
print(number)

[1, 2, 3, 4, 6, 9]

In [1]:
numbers = list(range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
numbers = [2,4,6,8,1,0,9,3,7,5]
numbers.sort()
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
numbers = [2,4,6,8,1,0,9,3,7,5]
decsending = sorted(numbers, reverse=True)
decsending

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [6]:
length = len(numbers)
length

10

In [7]:
numbers = [1,2,3,4,5,6,7,8]
my_list = numbers[2:5]
my_list

[3, 4, 5]

In [9]:
num = [1,2,3,56,89]
total = 0
for i in num:
    total+=i
total

151

In [10]:
num = [1,2,3,3,56,89,89]
num_1 = []
for i in num:
    if num.count(i) == 1:
        num_1.append(i)
num_1

[1, 2, 56]

In [ ]:
list = [1,2,3,4]
reversed_list =[]
for i in list:
    reversed_list.insert(0,i)
reversed_list

[4, 3, 2, 1]

In [12]:
list = [1,2,3,4,5,6]
squared_list = []
for i in list:
    squared_list.append(i ** 2)
squared_list

[1, 4, 9, 16, 25, 36]

In [13]:
list = [1,2,3,4,5,6]
squared_list = [i ** 2 for i in list]
squared_list

[1, 4, 9, 16, 25, 36]

In [16]:
list = [1,2,3,4,5,6]
even_list = []
for i in list:
    if i % 2 == 0:
      even_list.append(i)
print(f"{even_list} even number")

[2, 4, 6] even number

In [18]:
list = [1,2,3,4,5,6]
mid = len(list) // 2

f_list= list[:mid]
s_list = list[mid:]
 
print(f_list)
print(s_list)

[1, 2, 3]
[4, 5, 6]

In [19]:
f = [1, 2, 3]
s = [1, 5, 6]

common =  False
for i in f:
    if i in s:
        common = True
        break
if common:    
 print("yes! there is a common number")
else:
   print("No! there is no common number")

yes! there is a common number