# **Strings in python**

In [2]:
name = "Eman"
print(name)

Eman

### **1. Accessing characcters in python**

In [3]:
statement = "Hello"
statement[0]

'H'

### **2. Accessing individual characters from the last**

In [8]:
# using negative indexing
statement = "Hello"
statement[-5]

'H'

### **3. Accessing the substring of a string**

In [10]:
# substring: a part of a string
# a range of characters can be accessed using slicing
statement = "python"
statement[2:6]

'thon'

## **String operators:**

### **1. String concatenate operator:**

In [11]:
# concatenate operator combines two strings.
'a'+'b'+'c'

'abc'

In [12]:
x = 'I'
y = 'm'
z = 'Eman'
x+y+z

'ImEman'

### **2. String repetition operator:**

In [14]:
# creates multiple copies of the string.
# if n is an integer and s is a string then n*s and s*n will yield the same result.
3 * "Eman"
"Eman" * 3

'EmanEmanEman'

### **3. String comparison operators:**

In [15]:
# used to compare two strings
'Hello' < 'hello'

True

In [16]:
'Eman' > 'eman'

False

In [17]:
'Python' >= 'python'

False

In [18]:
'Eman' == 'Eman'

True

In [19]:
'Eman' != 'eman'

True

In [20]:
"python" >= "Python"

True

### **4. Membership operators:**

In [21]:
# The in operator:
'kar' in 'karachi'

True

In [22]:
'kch' in 'karachi'

False

### **5. Escape sequence operator:**

In [23]:
# escape character is used to insert a non-allowed character in a string.
# escape character consists of escape operator(\) followed by a non-allowed character.
print("My name is eman and I am from\"Pakistan.\"")

My name is eman and I am from"Pakistan."

### **6. String slicing:**

In [25]:
# a technique used to access a substring of a string.
s = "I am Eman"
s[0:7]

'I am Em'

In [26]:
s[:8]

'I am Ema'

Slicing with the third parameter:

In [27]:
# also called as step value. By default it is 1.
# step value - 1 specifies the number of elements to skip when slicing the string.
s = 'I am Eman'
s[0:8:2]

'Ia m'

slicing with first and second parameter:

In [29]:
s = 'abc' * 3
s[::3]

'aaa'

In [31]:
s[1::2]

'bacb'

Slicing with the third parameter: