# **Tuples in python:**

### **1. Introduction to tuples:**
- A collection of items which are indexed, ordered and immutable.
- Can have duplicates.

In [2]:
cars = ('Audi', 'Mercedes', 'BMW', 'Mercedes')
cars[0]

'Audi'

### 1.1. Tuple with one item:

In [4]:
cars = ('Audi',)
cars

('Audi',)

### 1.2. Length of a tuple:
- Can be determined using the len() function.

In [5]:
cars = ('Audi', 'BMW', 'Mercedes')
length = len(cars)
length

3

### 1.3. The tuple constructor:
- Alternative way to create a tuple.

In [6]:
cars = tuple(('Audi', 'BMW', 'Mercedes'))
cars

('Audi', 'BMW', 'Mercedes')

### **2. Accessing tuple items:**

### 2.1. Accessing tuple items through positive indexing:
- Each item of a tuple can be accessed through its index.
- Trying to access item out of the index range will result an indexerror.
- Providing float or any other data type as index will result in TypeError.

In [7]:
cars[2]

'Mercedes'

### 2.2. Accessing tuple items through negative indexing.
- Index -1 refers to the last item, -2 refers to the second last item, and so on.

In [8]:
cars[-3]

'Audi'

### 2.3. Accessing tuple items through slicing.

In [10]:
cars[1:3]

('BMW', 'Mercedes')

In [11]:
cars[:]

('Audi', 'BMW', 'Mercedes')

### **3. Updating a tuple:**

### 3.1. Adding items to a tuple:
- Not possible to directly add items to a tuple as tuples are immutabe.

In [15]:
cars = ("Audi","Mercedes","Bentley","BMW")
temp = list(cars)
temp.append('Toyota')
temp
cars = tuple(temp)
cars

('Audi', 'Mercedes', 'Bentley', 'BMW', 'Toyota')

### 3.2. Updating items of a tuple:
- Not possible to directly update items of a tuple as tuples are immutable.

In [18]:
cars = ("Audi","Mercedes","Bentley","BMW")
temp = list(cars)
temp[1] = 'Civic'
temp
cars = tuple(temp)
cars

('Audi', 'Civic', 'Bentley', 'BMW')

### 3.3. Removing items of a tuple:
- Not possible to directly remove items of a tuple as tuples are immutable.

In [20]:
cars = ("Audi","Mercedes","Bentley","BMW")
temp = list(cars)
temp.remove("Audi")
temp
cars = tuple(temp)
cars

('Mercedes', 'Bentley', 'BMW')

- Remove the entire tuple using del keyword.

In [22]:
cars = ("Audi","Mercedes","Bentley","BMW")
del cars
cars

NameError: name 'cars' is not defined

### **4. Unpacking a tuple in python:**

### Unpacking a tuple:
- Packing means assigning values to a tuple.
- Unpacking means extracting values of a tuple.

In [26]:
cars = ("Audi","Mercedes","Bentley","BMW")
car1, car2, car3, car4 = cars 
car1
car2
car3
car4

'BMW'

### Use of Asterisk:
- Used when the number of variables are less than the values of a tuple.

In [29]:
cars = ("Audi","Mercedes","Bentley","BMW","Ford")
car1,car2,*car3 = cars
car3

['Bentley', 'BMW', 'Ford']

- If Asterisk(*) is used with a variable other than the last variable, then the values are assigned until the values left matches the variables left.

In [32]:
cars = ("Audi","Mercedes","Bentley","BMW","Ford")
car1,*car2,car3 = cars
car2
car3

'Ford'